# Object files
*.o
*.obj

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (shared libraries)
*.so
*.dylib
*.dll

# Executables
*.exe
*.out

# Debug files
*.dSYM/
*.stackdump

# IDE and editor-specific files
.vscode/
*.code-workspace
.idea/
*.iml
*.swp
*.swo

# Makefile and CMake build directories
/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# Logs
*.log

# Temporary files
*.tmp
*.temp

# vs code .Identifiers files
*.Identifiers

# readme.txt
Readme.txt

# Ignore files in src/exp2
src/exp2/day2
src/exp2/student.txt
src/exp2/student1.dat
src/exp2/finalTask
src/exp2/logfile.txt
src/exp5/example
src/exp5/htif



