*.o
*.s
*.exe
*.pdf
*.txt
*.bin
*.vscode
*.log
/Lab1/template_code_Part0

/Lab2/Booth_Multiplier

/Lab2/Booth_Multiplier.c

/Lab2/memory_maze

/Lab2/template_code_Part1

/home/muhammad-mujtaba-rawn/Documents/Xcelerium-IC-Design-Training/Mujtaba/Lab3/Excercise_Lab5/Advanced_Makefile/main


