# Prerequisites
*.d

/.vscode

# Object files
*.o

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Ignore ModelSim/QuestaSim log files and work directories
transcript
*.log
work/
*.wlf
modelsim.ini
vsim.wlf
*.tmp
*.out

# Ignore compiled simulation files in the src/Sequential_Multiplier directory
src/Sequential_Multiplier/tb_seq_multiplier

# Simulation Files
*.vvp
*.vcd