
*.tcl
.*.verilate
.Xil
work
*.mti
*.mpf
transcript
*.wlf
vivado
*.log
*.jou
SIM
bash_scripts
.*.timestamp
*.pb 
*.wdb 
xsim.dir
*.str
*.vcd
*.vvp
obj_dir
test/__pycache__
test/sim_build
test/*.xml
work
1
2
