*.o
*.elf
*.Identifier
*.ds.s
*_c.s
*.log
!/Lab3/logfile.log
/Lab1/Lab1
/Lab2/Lab2
/Lab2/boothmultiplier
/Lab2/maze
/Lab2/memorymaze
/Lab2/studentdata.txt
/Lab3/installscripts/
/Lab3/a.tar
/Lab3/main
/self/
*/ModelSim/
work/
obj_dir/
sim_build/
__pycache__
transcript
*.vcd
*.sv.bak
*.drawio
*.json
cocotb
requirements.txt
results.xml
*.wlf