a.out
a.out:Zone.Identifier
code_Part1
code_Part1:Zone.Identifier
file_handling_test.bin
file_handling_test.bin:Zone.Identifier
gitignore
ll_test
ll_test.c
ll_test.c:Zone.Identifier
ll_test:Zone.Identifier
'Lab Experiment - C Language.pdf'
'Lab Experiment - C Language.pdf:Zone.Identifier'
'Lab Experiment - C Language.pdf:Zone.Identifier:Zone.Identifier'
template_code_Part1.c:Zone.Identifier
template_code_Part1.c:Zone.Identifier:Zone.Identifier